
#navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #333;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover{
  transition: 750ms;
  color: #333;
  background-color: #f2f2f2;
}
.content {
  padding: 16px;
}


#navbar a.active {
  background-color: red;
  color: white;
}

body {
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
select, input {
  border-radius: 10px;
  text-align: center;
  
}

body {
  padding-top: 50px;
}

div:not(#tmc-app, #pwm-extension-root, #navbar) {
  background-color: beige;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 30px;
  width: 90vw; 
}

table{
  width: 100%;
}