body {
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
span{
  width: 100%;
}
/* the not is only to eliminate extra divs rendered by server */
div:not(#tmc-app, #pwm-extension-root, #navbar) {
  background-color: beige;
  text-align: center;
  height: 400px;
  align-items: center;
  margin: 20px;
  flex: 1 0 40%;
  border: 1px solid;
  border-radius: 30px;
}

p {
  padding: 30px;
}

h3 {
  padding: 30px;
  padding-bottom: 10px;
}

table{
  text-align: center;
}

