@import "@meadtools/design-tokens/css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--mt-web-light-background);
    --foreground: var(--mt-web-light-foreground);
    --card: var(--mt-web-light-card);
    --card-foreground: var(--mt-web-light-card-foreground);
    --popover: var(--mt-web-light-popover);
    --popover-foreground: var(--mt-web-light-popover-foreground);
    --primary: var(--mt-web-light-primary);
    --primary-foreground: var(--mt-web-light-primary-foreground);
    --secondary: var(--mt-web-light-secondary);
    --secondary-foreground: var(--mt-web-light-secondary-foreground);
    --muted: var(--mt-web-light-muted);
    --muted-foreground: var(--mt-web-light-muted-foreground);
    --accent: var(--mt-web-light-accent);
    --accent-foreground: var(--mt-web-light-accent-foreground);
    --destructive: var(--mt-web-light-destructive);
    --destructive-foreground: var(--mt-web-light-destructive-foreground);
    --warning: var(--mt-web-light-warning);
    --warning-foreground: var(--mt-web-light-warning-foreground);
    --border: var(--mt-web-light-border);
    --input: var(--mt-web-light-input);
    --ring: var(--mt-web-light-ring);
    --radius: var(--mt-web-radius);
    --chart-1: var(--mt-web-light-chart-1);
    --chart-2: var(--mt-web-light-chart-2);
    --chart-3: var(--mt-web-light-chart-3);
    --chart-4: var(--mt-web-light-chart-4);
    --chart-5: var(--mt-web-light-chart-5);
  }

  .dark {
    --background: var(--mt-web-dark-background);
    --foreground: var(--mt-web-dark-foreground);
    --card: var(--mt-web-dark-card);
    --card-foreground: var(--mt-web-dark-card-foreground);
    --popover: var(--mt-web-dark-popover);
    --popover-foreground: var(--mt-web-dark-popover-foreground);
    --primary: var(--mt-web-dark-primary);
    --primary-foreground: var(--mt-web-dark-primary-foreground);
    --secondary: var(--mt-web-dark-secondary);
    --secondary-foreground: var(--mt-web-dark-secondary-foreground);
    --muted: var(--mt-web-dark-muted);
    --muted-foreground: var(--mt-web-dark-muted-foreground);
    --accent: var(--mt-web-dark-accent);
    --accent-foreground: var(--mt-web-dark-accent-foreground);
    --destructive: var(--mt-web-dark-destructive);
    --destructive-foreground: var(--mt-web-dark-destructive-foreground);
    --warning: var(--mt-web-dark-warning);
    --warning-foreground: var(--mt-web-dark-warning-foreground);
    --border: var(--mt-web-dark-border);
    --input: var(--mt-web-dark-input);
    --ring: var(--mt-web-dark-ring);
    --chart-1: var(--mt-web-dark-chart-1);
    --chart-2: var(--mt-web-dark-chart-2);
    --chart-3: var(--mt-web-dark-chart-3);
    --chart-4: var(--mt-web-dark-chart-4);
    --chart-5: var(--mt-web-dark-chart-5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Libre Baskerville", serif;
  }
}

/* #sentry-feedback {
  --z-index: 90;
} */
