h3:not(#ABV) {
  margin: 20px;
}

#sgBR{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sgBR input{
  height: fit-content;}

  @media only screen and (max-width: 930px) {
    body {
      font-size: small;
    }
    div:not(#navbar) {
      width: 80vw;
      /* min-height: 400px; */
    }
    input{
      width: 5em;
    }
    a{
      font-size: small;
    }
  }
  @media only screen and (max-width: 700px) {
    body:not(#navbar) {
      font-size: 1.8vw;
      margin: 0%;
      margin-left: -1%;
    }
    td{
      padding: 0;
    }
    input:not(.submit), select{
      width: 3em;
      font-size: 1.5vw;
      padding: 0;
    }
    .submit{
      font-size: x-small;
     margin-bottom: 2%;
    }
    h3{
      margin: 1%;
    }
    a{
      font-size: small;
    }
  }
  
  @media only screen and (max-width: 700px) {
    body {
      font-size: 1.8vw;
      margin: 0%;
      margin-left: -1%;
    }
    td{
      padding: 0;
    }
    input:not(.submit), select{
      width: 3em;
      font-size: 1.5vw;
      padding: 0;
    }
    .submit{
      font-size: x-small;
     margin-bottom: 2%;
    }
    h3{
      margin: 1%;
    }
    a{
      font-size: small;
    }
  }
  
  @media only screen and (max-width: 420px) {
    body {
      font-size: 1.2vw;
      margin: 0%;
      margin-left: -1%;
    }
    td{
      max-width: 50px;
      padding: 0;
    }
    input:not(.submit), select{
      width: 3em;
      font-size: 1.5vw;
      padding: 0;
    }
    .submit{
      font-size: 1.8vw;
     margin-bottom: 2%;
    }
    h3{
      margin: 1%;
    }
    a{
      font-size: small;
    }
  }